/* App.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color:#5A698F;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar {
  background-color: #161D2F;
  padding: 1rem;
  width: 100%;
  text-align: center;
  position: fixed;
  flex-wrap: wrap;
  z-index: 200;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar a:hover {
  color: #FC4747;
}

.navbar a active {
  color: aqua;
}

#hero {
  text-align: center;
  padding: 4rem 0;
  height: 680px;
  background-image: url('./assets/5172658.jpg');
  background-size: cover;
}

#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 10rem;
  color: #FFFFFF;
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #FFFFFF;
}

#hero a {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #5A698F;
  border: #FC4747 solid 1px;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
}

#hero a:hover {
  background-color: #FC4747;
  color: #FFFFFF;
}

.aboutMeDiv {
  height: 520px;
  background-size: contain;
}

section {
  padding: 2rem 0;
  padding-top: 3.5rem;
  width: 100%;
  height: auto;
  text-align: center;
}

h2 {
  background-color: transparent;
  color: #FFFFFF;
  font-size:xx-large;
}

h3 {
  margin-top: 5%;
}

hr {
  border: 0;
  height: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.div7 {
  background-color: transparent;
  width: 100%;
  height: 50%;
  padding-top: 5%;
  padding-right: 1%;
  border: none;
  position: absolute;
  z-index: 2;
}

.div8 {
  background-color: lavender;
  width: auto;
  border-radius: 5px;
  margin-left: 50%;
}

.div7 p {
  text-align: left;
  padding: 10px;
  padding-top: 20px;
  font-weight: lighter;
}

.cards {
  width: auto;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;
}

.cards .div2 {
  position: relative;
  width: 24%;
  height:fit-content;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 1%;
}

.cards .div3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  gap: 5px;
  border-radius: 5px;
  padding: 1%;
}

.cards .div4 {
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 1%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #333;
  text-decoration-line: none;
  text-align: left;
  padding: 10px;
}

.card:hover {
  color: #FC4747;
}

.card img {
  width: 60px;
  height: auto;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  position: relative;
  width: 100%;
}

button {
  width: 70px;
  height: 40px;
  background-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color:aquamarine;
}

.form {
  display: inline-block;
  position: relative;
  width: 40%;
  background-color:lightslategrey;
  margin: 10px;
  padding: 10px;
  border:#FC4747 1px solid;
  border-radius: 2px;
}

.form input {
  width: auto;
  height: 30px;
  border: none;
  color: #FFFFFF;
  border-bottom: #FC4747 1px solid;
  margin: 15px;
  background-color: transparent;
}

.form textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FC4747;
  height: 50px auto;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.form textarea::placeholder, .form input::placeholder {
  color: #FFFFFF;
  text-align: center;
}

.form button {
  background-color:#5A698F;
  color: #FFFFFF;
  height: 40px;
}

.form button:hover {
  background-color:aquamarine;
  color:#FC4747;
}

.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

/* @media (max-width: 768px) {
  .navbar {
    padding: 0; 
    height: 20px
  }

  .navbar a {
    color: #FFFFFF;
    text-decoration: none;
    width: 20px;
    font-size: xx-small;
  }

  #hero {
    height: 400px; 
    padding: 2rem 0;
  }

  #hero h1 {
    font-size: 2rem; 
    margin-top: 6rem;
  }

  .aboutMeDiv {
    height: auto;
  }

  .cards {
    flex-direction: column;
  }

  .cards .div2,
  .cards .div3,
  .cards .div4 {
    width: 100%;
    margin-bottom: 2rem; 
  }

  .form {
    width: 100%; 
  }

  .aboutMeDiv {
    height: 300px;
    width: 100%;
    background-size: contain;
  }

  .div7 {
    background-color: transparent;
    border: none;
    z-index: 2;
  }
  
  .div8 {
    background-color: lavender;
    width: 80%;
    border-radius: 5px;
  }
  
  .div7 p {
    text-align: left;
    padding: 10px;
    padding-top: 20px;
    font-weight: lighter;
  }
}

@media (min-width: 768px) {
  
} */