/* App.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1440px;
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  background-color: #333;
  padding: 1rem;
  width: 100%;
  text-align: center;
  position: fixed;
  flex-wrap: wrap;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

#hero {
  text-align: center;
  padding: 4rem 0;
  height: 680px;
  background-image: url('./assets/5172658.jpg');
  background-size: cover;
}

#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 10rem;
  color: #FFFFFF;
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #FFFFFF;
}

#hero a {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem 0;
  padding-top: 6rem;
  width: 100% auto;
  text-align: center;
}

h2 {
  background-color: darkslateblue;
}

.project {
  margin-bottom: 2rem;
  height: 680px;
  background-color: aquamarine;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  position: relative;
  width: 100%;
}